{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About The Mission</h1>
          <span class="subheading">This is what the Mission is all about.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p> Swachh Bharat Abhiyan is started by the government to make India a completely clean India. Clean India was a dream seen by Mahatma Gandhi regarding which he once said that, “Sanitation is more important than Independence”. During his time
        he was well aware of the poor and dirty condition of the country that’s why he made various efforts to complete his dream however could not be successful.
        <br><br>
        As he dreamt of clean India one day, he said that both cleanliness and sanitation are integral parts of healthy and peaceful living. Unfortunately, India is still lagging behind in cleanliness and sanitation even after 71 years of
        independence. According to the statistics, it has seen that very less percentage of total population has access to the toilets. It is a programme run by the government to seriously work to fulfill the vision of Father of Nation (Bapu) by
        calling people from all walks of life to make it a successful campaign globally.
        <br><br>
        This mission has to be completed by 150th birth anniversary of Bapu (i.e. 2nd October of 2019) in next five years (from the launch date). It is urged by the government to the people to spend at least 100 hours in a year towards cleanliness in
        their surrounding areas or other places of India to make it a successful campaign. There are various implementation policies and mechanisms for the programme including three important phases such as planning phase, implementation phase and
        sustainability phase.
        <br><br><br><br>
      </p>
      <h4>For More Information on SWACHH BHARAT ABHIYAAN, visit wikipedia --> <i><a href="https://en.wikipedia.org/wiki/Swachh_Bharat_Mission" style="color: blue; text-decoration: underline">THE MISSION</a></i></h4>
      <br><br>
    </div>
  </div>
</div>

{% endblock %}
